<sly data-sly-use.model="com.aem.pitneybowes.core.models.Bottom_footerModel" />
<sly
  data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
/>
<sly data-sly-test.hasContent="${!model.empty}">
  <div class="bottom-footer">
    <sly
      data-sly-test="${model.bottomfooterlist && model.bottomfooterlist.size > 0}"
    >
      <ul
        class="bottom-footer__links"
        data-sly-list.item="${model.bottomfooterlist}"
      >
        <sly data-sly-test="${item.linkname}">
          <a class="bottom-footer__anchor" href="${item.linkpath}.html">
            ${item.linkname}</a
          >
        </sly>
      </ul>
    </sly>
    <sly data-sly-test="${model.description}">
      <p class="bottom-footer__description">
        ${model.description @ context='html'}
      </p>
    </sly>
  </div>
</sly>
<sly
  data-sly-call="${placeholderTemplate.placeholder @ isEmpty = !hasContent}"
/>
