<sly data-sly-use.model="com.aem.pitneybowes.core.models.Right_footerModel"/>
<sly data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-test.hasContent="${!model.empty}">
  <div class="right-footer">
    
    <!-- Logo -->
    <sly data-sly-test="${model.logo}">
      <div class="footer-logo">

        <!--/* <img src="${model.logo}" alt="Logo" class="footer-logo__img"/> */-->
        <a href="${model.homepagelink}" class="footer-home-link__anchor">        
        <img src="${model.logo}" alt="Logo" class="footer-logo__img"/>
        </a>
      </div>
    </sly>

    <!-- Homepage link -->
    <!--/* <sly data-sly-test="${model.homepagelink}">
      <div class="footer-home-link">
        <a href="${model.homepagelink}" class="footer-home-link__anchor">${model.homepagelink}</a>
        <a href="${model.homepagelink}" class="footer-home-link__anchor">        <img src="${model.logo}" alt="Logo" class="footer-logo__img"/>
        </a>

      </div>
    </sly> */-->

    <!-- Title -->
    <sly data-sly-test="${model.title}">
      <p class="footer-title">${model.title}</p>
    </sly>

    <!-- Icon list -->
    <sly data-sly-test="${model.iconlist && model.iconlist.size > 0}">
      <div class="footer-social">
        <ul class="footer-social__list" data-sly-list.item="${model.iconlist}">
          <li class="footer-social__item">
            <sly data-sly-test="${item.iconimage}">
              <img src="${item.iconimage}" alt="Icon_image" class="footer-social__icon"/>
            </sly>
            <sly data-sly-test="${item.iconlink}">
              <a href="${item.iconlink}" class="footer-social__link">${item.iconlink}</a>
            </sly>
          </li>
        </ul>
      </div>
    </sly>
  </div>
</sly>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty = !hasContent}" />
