<sly data-sly-use.model="com.aem.pitneybowes.core.models.Utility_componentModel"/>
<sly data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-test.hasContent="${!model.empty}">

  <div class="resources-wrapper">
    <h2 class="resources-title">${model.maintitle}</h2>

    <div class="resources-grid">
      <sly data-sly-list.item="${model.listofchildren}">
        <div class="resources-column">
          <h3 class="resources-subtitle">${item.subtitle}</h3>
          <ul>
            <sly data-sly-list.nestedItem="${item.children}">
              <li>
                <a href="${nestedItem.linkpath}">
                  ${nestedItem.linkname}
                  <sly data-sly-test="${nestedItem.linkimage}">
                    <img src="${nestedItem.linkimage}" alt="icon" class="link-icon"/>
                  </sly>
                </a>
              </li>
            </sly>
          </ul>
        </div>
      </sly>
    </div>
  </div>

</sly>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty = !hasContent}" />
