<sly data-sly-use.model="com.aem.pitneybowes.core.models.Table_componentModel"/>
<sly data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-test.hasContent="${!model.empty}">
  <!-- Table Title -->
  <sly data-sly-test="${model.maintitle}">
    <h2 class="table-title">${model.maintitle}</h2>
  </sly>
  <!-- Table -->
  <div class="custom-table-wrapper" data-sly-test="${model.row && model.row.size > 0}">
    <table class="custom-table">
      <tbody>
      <!-- Loop rows -->
      <sly data-sly-list.item="${model.row}">
        <tr data-sly-test="${item.col}">
          <!-- Loop columns -->
          <sly data-sly-list.nestedItem="${item.col}">
            <td data-sly-test="${nestedItem.columnvalue}" class="table-cell">
              ${nestedItem.columnvalue @ context='html'}
            </td>
          </sly>
        </tr>
      </sly>
      </tbody>
    </table>
  </div>
</sly>

<!-- Placeholder -->
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty = !hasContent}" />
