<div class="customisable-title-wrapper">
  <sly data-sly-use.model="com.aem.pitneybowes.core.models.Customisable_titleModel"/>
  <sly data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"/>
  <sly data-sly-test.hasContent="${!model.empty}">
    <sly data-sly-test="${model.maintitle}">
      <p>${model.maintitle}</p>
    </sly>
    <sly data-sly-test="${model.description}">
      <p>${model.description}</p>
    </sly>

    <div>
      <sly data-sly-test="${model.showbutton}">
        <sly data-sly-resource="${ 'btn' @ resourceType='pitneybowes/components/customisable_button'}"/>
      </sly>
    </div>
  </sly>
  <sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty = !hasContent}" />
</div>
